/*make a background image*/
/*make a background image for the game area*/



body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	background-image: "Download (2).jfif";
	background-repeat: no-repeat;
	background-size: cover;
}

canvas {
	display: block;
	margin: auto;
	border: 1px solid rgba(245, 243, 243, 0.55);
	background-color:rgba(210, 14, 14, 0.55);
	background-image: url("garden.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#score {
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}

#game-over-message {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	display: none;
}
